.profile-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 20px;
  /* background-color: red; */
}

.row1 {
  display: flex;
  margin-bottom: 40px;
  /* background-color: blue; */
}

.profile-image {
  width: 10vw;
  margin-right: 40px;
  min-height: 163px;
  min-width: 163px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.profile-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-title,
.profile-education {
  font-size: 1rem;
  margin-bottom: 10px;
}

.profile-location {
  font-size: 1rem;
  margin-top: 5px;
}

.row2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left; /* Align text to the left */
}

.profile-section h3 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.profile-section p {
  align-self: flex-start;
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.view-resume-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
}

.header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.tags-container {
  margin-top: 10px;
}

.tag-profile {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.75rem;
  font-weight: bold;
}

/* Media query for screens with a maximum width of 500px */
@media screen and (max-width: 500px) {
  .profile-container {
    padding: 10px;
  }

  .row1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .profile-image {
    width: 30vw;
    margin-right: 0;
    margin-bottom: 20px;
    min-height: auto;
    min-width: auto;
  }

  .profile-info {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-name {
    font-size: 1rem;
  }

  .profile-title,
  .profile-education {
    font-size: 0.875rem;
  }

  .profile-location {
    font-size: 0.875rem;
  }

  .profile-section h3 {
    font-size: 1rem;
  }

  .profile-section p {
    font-size: 0.875rem;
  }

  .view-resume-link {
    font-size: 0.875rem;
    margin-left: 0;
    margin-top: 10px;
  }

  .header-link {
    flex-direction: column;
    align-items: flex-start;
  }

  .tags-container {
    text-align: center;
  }

  .tag-profile {
    font-size: 0.625rem;
  }
}
