.mobile-layout {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mobile-content {
  position: absolute;
  top: calc(30px + 1rem);
  bottom: calc(72px + 1rem);
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: 0.5rem;
}
