.dockfile-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 44px;
}

@media screen and (max-width: 500px) {
  .icon {
    height: 40px;
  }
}

.dockfile-label {
  display: none;
}
