.files-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  padding: 50px;
  padding-left: 40px;
  position: absolute;
}

.file-container {
  width: 80px;
  height: 120px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .file-container {
    width: 60px;
    height: 80px;
  }
}

.file-container:active {
  border: 1px solid lightblue;
}

.desktop-icon {
  height: 70px;
}

@media screen and (max-width: 500px) {
  .desktop-icon {
    height: 60px;
  }
}

.filename {
  margin-top: 10px;
  font-size: 0.6rem;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .filename {
    font-size: 0.5rem;
  }
}
